<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon card-header-info card-header-text">
                        <div class="card-text">
                            <h4 class="card-title">Lista de Vales</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-header card-header-icon card-header-info card-header-text">
                                <div class="card-text">
                                    <h5 class="card-title">Lista de Resultados</h5>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Id Vale</th>
                                                <th>Descripcion</th>
                                                <th>Puntos Requeridos</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let val of vales">
                                                <th scope="row"> {{ val.id }} </th>
                                                <td> {{ val.descripcion }} </td>
                                                <td> {{ val.cantidadRequerida }} </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div [hidden]="!deleted">
                                        <app-msg-display [displayError]="isError()" errorMsg="{{ mensaje }}">
                                        </app-msg-display>
                                        <app-msg-display [displayMsg]="!isError()" Msg="{{ mensaje }}">
                                        </app-msg-display>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <button [disabled]="!prevbtn" (click)="prevpage()" class="btn btn-gray">Anterior</button>
                                <button [disabled]="!nextbtn" (click)="nextpage()" class="btn btn-gray">Siguiente</button>
                            </div>
                        </div>    
                    </div>
                    <div class="card-footer text-center">
                        <button (click)="createVale()" class="btn btn-info">Add Vale</button>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>
    