<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <form [formGroup]="type" class="form-horizontal">
                            <div class="card-header card-header-rose card-header-text">
                                <div class="card-text">
                                    <h4 class="card-title">Agregar Vale</h4>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <label class="col-sm-2 col-form-label">Descripcion: </label>
                                    <div class="col-sm-7">
                                        <mat-form-field class="example-full-width has-label" [ngClass]="{'has-succes':validDescripcionType===true}" [ngClass]="displayFieldCss(type,'descripcion')">
                                            <input placeholder="Ejemplo Almuerzo" type="text" matInput id="descripcion" (ngModelChange)="descripcionValidationType($event)" formControlName="descripcion">
                                            <app-msg-display [displayError]="isFieldValid(type,'descripcion')" errorMsg="Required Descripcion"></app-msg-display>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-2 col-form-label">Puntos Requeridos: </label>
                                    <div class="col-sm-7">
                                        <mat-form-field class="example-full-width has-label" [ngClass]="{'has-succes':validCantidadType===true}" [ngClass]="displayFieldCss(type,'cantidadRequerida')">
                                            <input placeholder="Ejemplo 10" type="number" matInput id="cantidad" (ngModelChange)="cantidadValidationType($event)" formControlName="cantidadRequerida">
                                            <app-msg-display [displayError]="isFieldValid(type,'cantidadRequerida')" errorMsg="Add a Number!"></app-msg-display>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <button mat-raised-button type="submit" class="btn btn-rose btn-fill" (click)="onSubmit()">Guardar</button>
                                <button (click)="gotoList()" class="btn btn-primary">Volver a la Lista de Vales</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div [hidden]="!submitted">
                <app-msg-display [displayMsg]="isSubmitted()" Msg="¡Se ha creado correctamente el vale!"></app-msg-display>
                <h4 style="text-align: center;">¡Se ha creado el vale correctamente!</h4>
            </div>
        </div>
    </div>
    