<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <form [formGroup]="type" class="form-horizontal">
                      <div class="card-header card-header-rose card-header-text">
                          <div class="card-text">
                              <h4 class="card-title">Carga de Puntos</h4>
                          </div>
                      </div>
                      <div class="card-body">
                          <div class="row">
                              <label class="col-sm-2 col-form-label">Id del Cliente: </label>
                              <div class="col-sm-7">
                                  <mat-form-field class="example-full-width has-label" [ngClass]="{'has-succes':validClienteType===true}" [ngClass]="displayFieldCss(type,'clienteId')">
                                      <input type="text" matInput id="clienteId" (ngModelChange)="clienteValidationType($event)" formControlName="clienteId">
                                      <app-msg-display [displayError]="isFieldValid(type,'clienteId')" errorMsg="Required Id"></app-msg-display>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <label class="col-sm-2 col-form-label">Monto: </label>
                              <div class="col-sm-7">
                                  <mat-form-field class="example-full-width has-label" [ngClass]="{'has-succes':validMontoType===true}" [ngClass]="displayFieldCss(type,'monto')">
                                      <input type="text" matInput id="monto" (ngModelChange)="montoValidationType($event)" formControlName="monto">
                                      <app-msg-display [displayError]="isFieldValid(type,'monto')" errorMsg="Required Monto"></app-msg-display>
                                  </mat-form-field>
                              </div>
                          </div>
                      </div>
                      <div class="card-footer text-center">
                          <button mat-raised-button type="submit" class="btn btn-rose btn-fill" (click)="onSubmit()">Guardar</button>
                          <button (click)="goequivalencia()" class="btn btn-primary"><mat-icon>arrow_forward</mat-icon> Consultar Equivalencia</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
      <div [hidden]="!submitted">
          <app-msg-display [displayMsg]="isSubmitted()" Msg="¡Se han cargado los puntos correctamente!"></app-msg-display>
          <h4 style="text-align: center;">¡Se han cargado los puntos correctamente!</h4>
      </div>
  </div>
</div>
