<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form (ngSubmit)="onSubmit()" >
                        <div class="card-header card-header-rose card-header-text">
                            <div class="card-text">
                                <h4 class="card-title">Equivalencia de puntos</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Monto: </label>
                                <div class="col-sm-7">
                                    <input type="number" class="form-control"  [(ngModel)] = "monto" [ngModelOptions]="{standalone: true}" id="monto" required name="monto" >
                                </div>

                            </div>

                        </div>
                        <div class="card-footer text-center">
                            <button mat-raised-button type="submit" class="btn btn-rose btn-fill">Buscar</button>
                            <button (click)="addPuntos()" class="btn btn-primary"><mat-icon>arrow_forward</mat-icon> Cargar Puntos</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div [hidden]="!submitted">
            <h4 style="text-align: center;">{{message}}</h4>
        </div>

        <div [hidden]="!hasError">
            <h4 style="text-align: center;">{{errorMessage}}</h4>
        </div>
    </div>
  </div>
  