<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form (ngSubmit)="onSubmit()" >
                        <div class="card-header card-header-rose card-header-text">
                            <div class="card-text">
                                <h4 class="card-title">Utilizar Puntos</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Cliente: </label>
                                <div class="col-sm-7">
                                    <select required [(ngModel)]="use.clienteId" class="custom-select" id="cliente" name="cliente">
                                        <option *ngFor="let clie of clientes" value="{{ clie.id }}"> {{ clie.nombre }} {{ clie.apellido }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label">Vale: </label>
                                <div class="col-sm-7">
                                    <select required [(ngModel)]="use.conceptoId" class="custom-select" id="vale" name="vale">
                                        <option *ngFor="let clie of vales" value="{{ clie.id }}"> {{ clie.descripcion }}</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="card-footer text-center">
                            <button mat-raised-button type="submit" class="btn btn-rose btn-fill">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div [hidden]="!submitted">
            <h4 style="text-align: center;">¡Se ha realizado la operacion exitosamente!</h4>
        </div>

        <div [hidden]="!hasError">
            <h4 style="text-align: center;">{{errorMessage}}</h4>
        </div>
    </div>
  </div>
  