<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form [formGroup]="type" class="form-horizontal" >
                        <div class="card-header card-header-rose card-header-text">
                            <div class="card-text">
                                <h4 class="card-title">Editar Regla</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Monto: </label>
                                <div class="col-sm-7">
                                    <mat-form-field class="example-full-width has-label" [ngClass]="{'has-succes':validmontoEquivalenciaType===true}" [ngClass]="displayFieldCss(type,'montoEquivalencia')">
                                        <input type="number" placeholder="Ejemplo 50000" name="montoEquivalencia" matInput (ngModelChange)="montoEquivalenciaValidationType($event)" formControlName="montoEquivalencia">
                                        <app-msg-display [displayError]="isFieldValid(type,'montoEquivalencia')" errorMsg="Required Monto"></app-msg-display>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Limite inferior: </label>
                                <div class="col-sm-7">
                                    <mat-form-field class="example-full-width has-label" [ngClass]="{'has-succes':validlimiteInferiorType===true}" [ngClass]="displayFieldCss(type,'limiteInferior')">
                                        <input type="number" placeholder="Ejemplo 0" name="limiteInferior" matInput (ngModelChange)="limiteInferiorValidationType($event)" formControlName="limiteInferior">
                                        <app-msg-display [displayError]="isFieldValid(type,'limiteInferior')" errorMsg="Required Limite"></app-msg-display>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label">Limite superior: </label>
                                <div class="col-sm-7">
                                    <mat-form-field class="example-full-width has-label" [ngClass]="{'has-success':validlimiteSuperiorType===true}" [ngClass]="displayFieldCss(type, 'limiteSuperior')">
                                        <input type="number" placeholder="Ejemplo 200000" name="limiteSuperior" matInput (ngModelChange)="limiteSuperiorValidationType($event)" formControlName="limiteSuperior">
                                        <app-msg-display [displayError]="isFieldValid(type, 'limiteSuperior')" errorMsg="Add a Limite!"></app-msg-display>
                                    </mat-form-field>    
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button mat-raised-button type="submit" (click)="onSubmit()" class="btn btn-rose btn-fill">Guardar</button>
                            <button (click)="gotoList()" class="btn btn-primary">Volver a la Lista de Reglas</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div [hidden]="!submitted">
            <h4 style="text-align: center;">¡Se ha editado la regla correctamente!</h4>
        </div>

        <div [hidden]="!hasError">
            <h4 style="text-align: center;">{{errorMessage}}</h4>
        </div>
    </div>
</div>