<div *ngIf="displayError" >
        <!-- <span class="glyphicon glyphicon-remove form-control-feedback fix-error-icon"></span> -->
        <span class="sr-only">(Mensaje)</span>
        <div class="error-msg">
          {{ errorMsg }}
        </div>
    </div>
    <div *ngIf="displayMsg" >
            <!-- <span class="glyphicon glyphicon-remove form-control-feedback fix-msg-icon"></span> -->
        <span class="sr-only">(Mensaje)</span>
        <div class="msg">
            {{ Msg }}
        </div>
    </div>
    