<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon card-header-info card-header-text">
                        <div class="card-text">
                            <h4 class="card-title">Reporte Uso de Puntos</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="pull-left text-center">
                            <button (click)="gobolsapuntos()" class="btn btn-primary"><mat-icon>arrow_forward</mat-icon> Reporte Bolsa Puntos</button>
                            <button (click)="govencimientos()" class="btn btn-primary"><mat-icon>arrow_forward</mat-icon> Reporte Vencimientos</button>
                        </div>
                        <br>
                        <br>
                        <div class="card">
                            <div class="card-header card-header-icon card-header-info card-header-text">
                                <div class="card-text">
                                    <h5 class="card-title">Filtro de Busqueda</h5>
                                </div>
                            </div>
                            <div class="card-body">
                                <form (ngSubmit)="onSubmit()">
                                    <div class="form-group">
                                        <div class="col-md-6 input-group-prepend">
                                            <label class="col-sm-2 col-form-label">Cliente: </label>
                                            <div class="col-sm-7">
                                                <select required [(ngModel)]="clienteId" class="custom-select" style="height: auto;" id="clienteId" name="clienteId">
                                                    <option *ngFor="let cliente of clientes" value="{{ cliente.id }}"> {{ cliente.nombre }} {{ cliente.apellido }} </option>
                                                </select>                            
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6 input-group-prepend">
                                            <label class="col-sm-2 col-form-label">Vale: </label>
                                            <div class="col-sm-7">
                                                <select required [(ngModel)]="valeId" class="custom-select" style="height: auto;" id="valeId" name="valeId">
                                                    <option *ngFor="let vale of vales" value="{{ vale.id }}"> {{ vale.descripcion }} </option>
                                                </select>                            
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer">
                                <button (click)="onSubmit()" class="btn btn-success"><mat-icon>search</mat-icon> Buscar</button>
                                <button (click)="excel()" class="btn btn-success"><mat-icon>cloud_download</mat-icon> Excel</button>
                                <button (click)="pdf()" class="btn btn-info"><mat-icon>cloud_download</mat-icon> PDF</button>
                                <button (click)="clear()" class="btn btn-info"><mat-icon>sync</mat-icon> Clear</button>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header card-header-icon card-header-info card-header-text">
                                <div class="card-text">
                                    <h5 class="card-title">Lista de Resultados</h5>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped" id="mytable">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Puntaje Utilizado</th>
                                                <th>Vale</th>
                                                <th>Cliente</th>
                                                <th>Fecha</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let con of consultas">
                                                <th scope="row"> {{ con.puntajeUtilizado }} </th>
                                                <td> {{ con.vale.descripcion }} </td>
                                                <td> {{ con.usoDetalle[0].bolsaPuntos.cliente.nombre }},{{ con.usoDetalle[0].bolsaPuntos.cliente.apellido }} </td>
                                                <td> {{ con.fecha }} </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>    
                    </div>                  
                </div>
            </div>
        </div>
    </div>
</div>
    