<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-icon card-header-info card-header-text">
                            <div class="card-text">
                                <h4 class="card-title">Reporte Vencimientos</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="pull-left text-center">
                                <button (click)="gousopuntos()" class="btn btn-primary"><mat-icon>arrow_forward</mat-icon> Reporte Uso Puntos</button>
                                <button (click)="gobolsapuntos()" class="btn btn-primary"><mat-icon>arrow_forward</mat-icon> Reporte Bolsa Puntos</button>
                            </div>
                            <br>
                            <br>
                            <form [formGroup]="type" class="form-horizontal">
                                <div class="card">
                                    <div class="card-header card-header-icon card-header-info card-header-text">
                                        <div class="card-text">
                                            <h5 class="card-title">Filtro de Busqueda</h5>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <label class="col-sm-2 col-form-label">Dias: </label>
                                            <div class="col-sm-7">
                                                <mat-form-field class="example-full-width has-label" [ngClass]="{'has-succes':validDiasType===true}" [ngClass]="displayFieldCss(type,'dias')">
                                                    <input placeholder="50" type="text" matInput id="dias" (ngModelChange)="diasValidationType($event)" formControlName="dias">
                                                    <app-msg-display [displayError]="isFieldValid(type,'dias')" errorMsg="Required Dias"></app-msg-display>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button mat-raised-button type="submit" (click)="onSubmit()" class="btn btn-success"><mat-icon>search</mat-icon> Buscar</button>
                                        <button (click)="excel()" class="btn btn-success"><mat-icon>cloud_download</mat-icon> Excel</button>
                                        <button (click)="pdf()" class="btn btn-info"><mat-icon>cloud_download</mat-icon> PDF</button>
                                        <button (click)="clear()" class="btn btn-info"><mat-icon>sync</mat-icon> Clear</button>
                                    </div>
                                </div>
                            </form>
                            <div class="card">
                                <div class="card-header card-header-icon card-header-info card-header-text">
                                    <div class="card-text">
                                        <h5 class="card-title">Lista de Resultados</h5>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped" id="mytable">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th>Cliente</th>
                                                    <th>Fecha Caducidad</th>
                                                    <th>Bolsa Id</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let con of consultas">
                                                    <td> {{ con.nombre }}, {{ con.apellido }} </td>
                                                    <td> {{ con.fechaCaducidad }} </td>
                                                    <td> {{ con.bolsaId }} </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>    
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
    </div>
        