<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form (ngSubmit)="onSubmit()" >
                        <div class="card-header card-header-rose card-header-text">
                            <div class="card-text">
                                <h4 class="card-title">Agregar Parametro</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Fecha de inicio: </label>
                                <div class="col-sm-3">
                                    <input type="date" class="form-control" [(ngModel)] = "parametro.fechaInicioValidez" [ngModelOptions]="{standalone: true}" id="fechaInicioValidez" required name="fechaInicioValidez" >
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label">Fecha de fin: </label>
                                <div class="col-sm-3">
                                    <input type="date" class="form-control" [(ngModel)] = "parametro.fechaFinValidez" [ngModelOptions]="{standalone: true}" id="fechaFinValidez" required name="fechaFinValidez" >
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label">Dias de duracion: </label>
                                <div class="col-sm-3">
                                    <input type="number" class="form-control"  [(ngModel)] = "parametro.diasDuracion" [ngModelOptions]="{standalone: true}" id="diasDuracion" required name="diasDuracion" >
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button mat-raised-button type="submit" class="btn btn-rose btn-fill">Guardar</button>
                            <button (click)="gotoList()" class="btn btn-primary">Volver a la Lista de Parametros</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>