<style>
    .pagination {
        display: inline-block;
        margin-left: 20px;
    }

    .pagination .page-item a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ddd;
    }

    li {
        float: left;
    }

    .pagination .page-item a.active {
        background-color: #4CAF50;
        color: white;
        border: 1px solid #4CAF50;
    }

    .pagination .page-item a:hover:not(.active) {background-color: #ddd;}
    .btn {
        display: inline-block;
        padding: 6px 8px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    table tbody td, table tbody td, table td {
        max-width: 150px;
        overflow: hidden;
        white-space:nowrap;
        text-overflow: ellipsis;
        padding: 12px 10px !important;
    }
</style>

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon card-header-info card-header-text">
                        <div class="card-text">
                            <h4 class="card-title">Lista de Parametros</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-header card-header-icon card-header-info card-header-text">
                                <div class="card-text">
                                    <h5 class="card-title">Lista de Resultados</h5>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Id Parametro</th>
                                                <th>Inicio</th>
                                                <th>Fin</th>
                                                <th>Dias de duracion</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let regl of parametros">
                                                <td> {{ regl.id }} </td>
                                                <td> {{ regl.fechaInicioValidez }} </td>
                                                <td> {{ regl.fechaFinValidez }} </td>
                                                <td> {{ regl.diasDuracion }} </td>
                                                <td> 
                                                    <a (click)="editarParametro(regl.id)" title="Editar" class="btn btn-info" style="margin-left: 10px"><span class="fa fa-pencil"></span></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <br>
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item" *ngFor="let page of paginas; let i=index">
                                            <a [ngClass]="{'active': i==actual}" (click)="pagesLoad(i)">{{i+1}}</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>                       
                    </div>
                    <div class="card-footer text-center">
                        <button (click)="crearParametro()" class="btn btn-info">Add Parametro</button>
                    </div>  
                </div>              
            </div>
        </div>
    </div>
</div>