<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form [formGroup]="type" class="form-horizontal">
                        <div class="card-header card-header-rose card-header-text">
                            <div class="card-text">
                                <h4 class="card-title">Agregar Cliente</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Nombre: </label>
                                <div class="col-sm-7">
                                    <mat-form-field class="example-full-width has-label" [ngClass]="{'has-succes':validNombreType===true}" [ngClass]="displayFieldCss(type,'nombre')">
                                        <input type="text" matInput id="nombre" (ngModelChange)="nombreValidationType($event)" formControlName="nombre">
                                        <app-msg-display [displayError]="isFieldValid(type,'nombre')" errorMsg="Required Nombre"></app-msg-display>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Apellido: </label>
                                <div class="col-sm-7">
                                    <mat-form-field class="example-full-width has-label" [ngClass]="{'has-succes':validApellidoType===true}" [ngClass]="displayFieldCss(type,'apellido')">
                                        <input type="text" matInput id="apellido" (ngModelChange)="apellidoValidationType($event)" formControlName="apellido">
                                        <app-msg-display [displayError]="isFieldValid(type,'apellido')" errorMsg="Required Apellido"></app-msg-display>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 col-form-label">N° Documento: </label>
                                <div class="col-sm-7">
                                    <mat-form-field class="example-full-width has-label" [ngClass]="{'has-succes':validCIType===true}" [ngClass]="displayFieldCss(type,'nroDocumento')">
                                        <input type="number" matInput id="nroDocumento" (ngModelChange)="ciValidationType($event)" formControlName="nroDocumento">
                                        <app-msg-display [displayError]="isFieldValid(type,'nroDocumento')" errorMsg="Required CI"></app-msg-display>
                                   </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Email: </label>
                                <div class="col-sm-7">
                                <mat-form-field class="example-full-width" [ngClass]="{'has-success':validEmailType===true}">
                                    <input type="email" matInput [errorStateMatcher]="matcher" (ngModelChange)="emailValidationType($event)" formControlName="email">
                                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                        Please enter a valid email address
                                    </mat-error>
                                    <mat-error *ngIf="emailFormControl.hasError('required')">
                                        Email is <strong>required</strong>
                                    </mat-error>
                                   </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Telefono: </label>
                                <div class="col-sm-7">
                                  <mat-form-field class="example-full-width has-label" [ngClass]="{'has-success':validNumberType===true}" [ngClass]="displayFieldCss(type, 'telefono')">
                                    <input type="number" name="telefono" matInput (ngModelChange)="numberValidationType($event)" formControlName="telefono">
                                    <app-msg-display [displayError]="isFieldValid(type, 'telefono')" errorMsg="Add a Telefono!"></app-msg-display>
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Fecha Nacimiento: </label>
                                <div class="col-sm-7">
                                  <mat-form-field class="example-full-width has-label" [ngClass]="{'has-success':validFecNacType===true}" [ngClass]="displayFieldCss(type, 'fechaNacimiento')">
                                    <input type="date" name="fechaNacimiento" matInput (ngModelChange)="fechanacValidationType($event)" formControlName="fechaNacimiento">
                                    <app-msg-display [displayError]="isFieldValid(type, 'fechaNacimiento')" errorMsg="Add a Fecha!"></app-msg-display>
                                  </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button mat-raised-button type="submit" class="btn btn-rose btn-fill" (click)="onSubmit()">Guardar</button>
                            <button (click)="gotoList()" class="btn btn-primary">Volver a la Lista de Clientes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div [hidden]="!submitted">
            <app-msg-display [displayMsg]="isSubmitted()" Msg="¡Se ha creado correctamente el cliente!"></app-msg-display>
            <h4 style="text-align: center;">¡Se ha creado el cliente correctamente!</h4>
        </div>
    </div>
</div>
