<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon card-header-info card-header-text">
                        <div class="card-text">
                            <h4 class="card-title">Lista de Clientes</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card">
                            <div class="card-header card-header-icon card-header-info card-header-text">
                                <div class="card-text">
                                    <h5 class="card-title">Filtro de Busqueda</h5>
                                </div>
                            </div>
                            <div class="card-body">
                                <form [formGroup]="type" class="form-horizontal">
                                    <div class="card">
                                        <div class="card-header card-header-icon card-header-info card-header-text">
                                            <div class="card-text">
                                                <h5 class="card-title">Filtro de Busqueda</h5>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <label class="col-sm-2 col-form-label">Search: </label>
                                                <div class="col-sm-7">
                                                    <mat-form-field class="example-full-width has-label" [ngClass]="{'has-succes':validSearchType===true}" [ngClass]="displayFieldCss(type,'search')">
                                                        <input placeholder="Nombre o Apellido" type="text" matInput id="search" (ngModelChange)="searchValidationType($event)" formControlName="search">
                                                        <app-msg-display [displayError]="isFieldValid(type,'search')" errorMsg="Required text"></app-msg-display>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button mat-raised-button type="submit" (click)="onSubmit()" class="btn btn-success"><mat-icon>search</mat-icon> Buscar</button>
                                            <button (click)="clear()" class="btn btn-info"><mat-icon>sync</mat-icon> Clear</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header card-header-icon card-header-info card-header-text">
                                <div class="card-text">
                                    <h5 class="card-title">Lista de Resultados</h5>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Id Cliente</th>
                                                <th>Nombre</th>
                                                <th>Apellido</th>
                                                <th>Telefono</th>
                                                <th>N° Documento</th>
                                                <!--<th>Acciones</th>-->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let cli of clientes">
                                                <th scope="row"> {{ cli.id }} </th>
                                                <td> {{ cli.nombre }} </td>
                                                <td> {{ cli.apellido }} </td>
                                                <td> {{ cli.telefono }} </td>
                                                <td> {{ cli.nroDocumento }} </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div [hidden]="!deleted">
                                        <app-msg-display [displayError]="isError()" errorMsg="{{ mensaje }}">
                                        </app-msg-display>
                                        <app-msg-display [displayMsg]="!isError()" Msg="{{ mensaje }}">
                                        </app-msg-display>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <button [disabled]="!prevbtn" (click)="prevpage()" class="btn btn-gray">Anterior</button>
                                <button [disabled]="!nextbtn" (click)="nextpage()" class="btn btn-gray">Siguiente</button>
                            </div>
                        </div>    
                    </div>
                    <div class="card-footer text-center">
                        <button (click)="createCliente()" class="btn btn-info">Add Cliente</button>
                    </div>
                </div>
            </div>
        </div>





        <!--<div class="panel-heading">
            <h2>Filtros de Busqueda</h2>
        </div>
        <div class="panel-body">
            <div style="width: 400px;">
                <form (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="name">Nombre:</label>
                            </div>
                            <input type="text" class="form-control" id="nombre" required [(ngModel)]="cliente.nombre" name="nombre">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="name">Apellido:</label>
                            </div>
                            <input type="text" class="form-control" id="apellido" required [(ngModel)]="cliente.apellido" name="apellido">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Buscar</button><br>
                </form>
            </div>
        </div>

        <div class="panel-heading">
            <h2>Lista de Clientes</h2>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>Id Cliente</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Telefono</th>
                    <th>N° Documento</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let cli of clientes">
                    <th scope="row"> {{ cli.id }} </th>
                    <td> {{ cli.nombre }} </td>
                    <td> {{ cli.apellido }} </td>
                    <td> {{ cli.telefono }} </td>
                    <td> {{ cli.nroDocumento }} </td>
                </tr>
                </tbody>


            </table>

        </div>-->
    </div>
</div>
